html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

main {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;

}

#white-box {
    background-image: url(../../images/bg-pattern-mobile.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 22rem;
    background-position-x: center;
    background-position-y: 0rem;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    margin-top: 10rem;
    z-index: 1;
}

.img-woman-mobile {
    background-image: url(../../images/illustration-woman-online-mobile.svg);
    background-size: 22rem;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    height: 30rem;
    width: 22rem;
    top: -10.2rem;
    left: 3.55rem;
    z-index: 2;
}

.text-white-box {
    width: 100%;
    padding: 0rem 2rem 4rem;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin: 12rem 0 3rem;
    text-align: center;
}

#texto-faq img {
    width: 100%;
    padding: 0rem 2rem 2rem;
}

.set-questions-answers {
    min-height: 1rem;
}

.question {
    color: #000;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.question:hover {
    color: red;
}

.answer {
    display: none;
    margin: 0 1rem 0;
}

.show {
    display: block;
    opacity: .7;
}

hr {
    margin: 1rem 0;
    border: 0.01rem solid hsl(240, 5%, 91%);
}

.footer {
    text-align: center;
    margin: 2rem 0 0;
    line-height: 2;
}

@media only screen and (min-width: 1020px) {
    
    main {
        align-content: center;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    #white-box {
        background-image: url(../../images/bg-pattern-desktop.svg);
        background-position: -38rem -16.75rem;
        background-size: 63rem;
        justify-content: space-between;
        width: 60vw;
        margin: 0;
        padding: 2rem 2rem 2rem 0;
    }
    
    .images {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-box-desktop {
        background-image: url(../../images/illustration-box-desktop.svg);
        background-size: 12rem;
        background-position: 0rem 3.5rem;
        background-repeat: no-repeat;
        position: absolute;
        height: 12rem;
        width: 10rem;
        left: -58px;
        z-index: 3;
    }
    
    .img-woman-desktop {
        background-image: url(../../images/illustration-woman-online-desktop.svg);
        background-size: 30rem;
        background-position: right;
        background-repeat: no-repeat;
        position: absolute;
        height: 30rem;
        width: 25rem;
        left: 0;
        z-index: 2;
    }
    
    
    .img-woman-mobile {
        display: none;
    }
    
    .text-white-box {
        width: 50%;
        padding: 0 0 0 3rem;
    }
    
    .title {
        margin: 3rem 0;
        text-align: left;
    }
}

    @media only screen and (min-width: 1900px) {
        
        #white-box{
            width: 35vw;
        }

    }