html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

}

.container {}

.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 14rem;
}

.first-img {
    position: relative;
    width: 22rem;
    top: 4rem;
}

.second-img {
    position: absolute;
    width: 22rem;
    top: 15rem;
}

/* ------------------------------ */

.container-content-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 120px 2rem 5rem;
    margin: 0 2rem;
    border-radius: 1.5rem;
    background-color: #fff;
}

.container-FAQ {}

.title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem 0 3rem;
}

.content-FAQ {
    display: grid;
    grid-template-columns: 1fr 1rem;
    align-items: center;
    margin: 1.2rem 0;
}

.headline {
    font-size: 1.2rem;
    margin: .5rem 0;
}

.action {
    cursor: pointer;
}

.icon {
    max-width: 1rem;
    max-height: 0.7rem;
}

.answer {
    font-size: 1rem;
    margin: .5rem 0 0;
}


.line {
    border-bottom: 0.05rem solid hsl(240, 5%, 91%);
}